

<div class="list_entity" *ngIf="flag">
    <div class="list_all_entity" tooltip content="test tooltip" (click)="detail_form()">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>CONTACT POINT</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>CORPORATE</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>VENDOR</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>EMPLOYEE</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>INDIVIDUAL</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>AGENT</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>SUB AGENT</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>PRINCIPAL</b></span>
    </div>
    <div class="list_all_entity">
      <span class="glyphicon glyphicon-user all_list_icon"></span>
      <span class="entity_title"><b>SMS CAMPAIGN</b></span>
    </div>
</div>
