
<div class="body_layout" *ngIf="detailsFlag">
<div class="entity_list">
  <div class="row" style="font-size:14px;">
    <div class="col-lg-4 col-md-4 col-sm-12 first_entity" >
      <div class="entity hov_icn" uib-tooltip="NEW CONTACT POINT" tooltip-placement="bottom" (click)= "showDetails()">
        <span class="glyphicon glyphicon-user vca-icon"></span>
        <span class="entity_title"><strong>CONTACT POINT</strong></span>
      </div>
      <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
        <span class="glyphicon glyphicon-user vca-icon"></span>
        <span class="entity_title">CONTACT POINT</span>
      </div>
        <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
          <span class="glyphicon glyphicon-user vca-icon"></span>
          <span class="entity_title">CONTACT POINT</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 " >
        <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
          <span class="glyphicon glyphicon-user vca-icon"></span>
          <span class="entity_title">CONTACT POINT</span>
        </div>
        <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
          <span class="glyphicon glyphicon-user vca-icon"></span>
          <span class="entity_title">CONTACT POINT</span>
        </div>
          <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
            <span class="glyphicon glyphicon-user vca-icon"></span>
            <span class="entity_title">CONTACT POINT</span>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
          <span class="glyphicon glyphicon-user vca-icon"></span>
          <span class="entity_title">CONTACT POINTt</span>
        </div>
        <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
          <span class="glyphicon glyphicon-user vca-icon"></span>
          <span class="entity_title">CONTACT POINT</span>
        </div>
          <div class="entity  hov_icn" uib-tooltip="NEW CONTACT POINT"tooltip-placement="bottom">
            <span class="glyphicon glyphicon-user vca-icon"></span>
            <span class="entity_title">CONTACT POINT</span>
          </div>
      </div>
    </div>
  </div>
</div>
