.list_entity{
  width:100%;
  height: 20%;

}
.list_entity[_ngcontent-c3] {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 30%;
}
.list_all_entity{
  width: calc(11.11% - 10px);
  margin-right: 10px;
  float: left;
  margin-top: 2%;
  background-color: white;
  text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.all_list_icon[_ngcontent-c3] {
    font-size: 55px;
    margin-top: 10%;
    display: block;
    margin-bottom: 5%;
    color: rgb(92,92,92);
}
.entity_title{
  font-size: 16px;
  display: block;
  margin-bottom: 12%;
  color: rgb(92,92,92);
}
.list_all_entity:hover{
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
cursor: pointer;
transform: scale(1.05, 1.05);
}
